.main-index {
  width: 55vw;
  height: 100vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.main-header {
}

.main-statistic-header {
  margin-top: 3.5vh;
  display: flex;
  justify-content: space-between;
}


.main-statistic-token {
  display: flex;
  justify-content: space-evenly;
  height: 13vh;
  width: 16vw;
  background-color: #fff;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.main-statistic-title {
  color: #A3AED0;
}


.main-statistic-token-symbol {
  background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
  border-radius: 10vh;
  padding: 1vh;
}

.main-statistic-activity {
  background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);
  display: flex;
  justify-content: space-evenly;
  height: 13vh;
  width: 16vw;

  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.main-statistic-activity-title {
  color: #E9EDF7;
}
.main-statistic-activity-num {
  color: #fff;
  font-size: 1.5vw;
}

.main-statistic-middle {
  margin-top: 3vh;
  display: flex;
}

.main-statistic-middle-totalsales {
  border-radius: 20px;
  background-color: #fff;
  width: 22vw;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.main-statistic-middle-totalsales-header {
  padding-bottom: 1.5vh;
}
.main-statistic-middle-totalsales-title {
  color: #A3AED0;
  font-size: 1.9vh;
}
.main-statistic-middle-totalsales-footer {
  color: #1B2559;
  font-size: 1.5vh;
}

.main-statistic-middle-totalsales-left {
  padding: 4vh;
}

.main-statistic-middle-totalsales-right {
  background: linear-gradient(180deg, #868CFF 0%, #4318FF 100%);
  padding: 2vh;
  margin-right: 3vh;
  border-radius: 7px;
}


.main-statistic-middle-siteuser {
  border-radius: 20px;
  background-color: #fff;
  height: 13vh;
  width: 22vw;
  justify-content: space-between;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 3vh;
}
.main-statistic-middle-siteuser-title{
  color: #A3AED0;
  font-size: 1.9vh;
}

.main-statistic-middle-siteuser-header {
  padding-bottom: 1.5vh;
}
.main-statistic-middle-siteuser-footer {
  color: #1B2559;
  font-size: 1.5vh;
}
.main-statistic-middle-siteuser-num {
  color: #5D5FEF;
}

.main-statistic-middle-siteuser-left {
  padding: 4vh;
}

.main-statistic-middle-hottopic-main {
  flex-grow:1;
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

.main-statistic-middle-hottopic-content-main {
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  flex-grow: 1;
}

.main-statistic-middle-hottopic-content {
}

.main-statistic-middle-hottopic-content-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DEE8FF;
  padding: 1.5vw 2vw 0 2vw;
  font-size: 2vh;
  font-weight: bold;
}

.main-statistic-middle-hottopic-content-div {
  border-bottom: 1px solid #F4F7FE;
  padding: 1.0vh;
  display: flex;
  justify-content: space-between;
  padding: 1.5vw 2vw 0vw 2vw;
  font-size: 1vw;
  color: #1B2559;
}



.main-footer-recent-main {
  margin-top: 3vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-footer-recent-content-main {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.main-footer-recent-conent-header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #DEE8FF;
  color: #1B2559;
  font-size: 2vh;
  font-weight: bold;
  padding: 1.5vw 1.5vw 0.5vw 1.5vw;
}

.main-footer-recent-content-header-author {
  text-align: left;
  flex-grow: 1;
}

.main-footer-recent-content-header-title {
  flex-grow: 4;
}

.main-footer-recent-content-header-up {
  text-align: center;
  flex-grow: 1;
}

.main-footer-recent-content-div {
  display: flex;
  padding: 2vh;
  border-bottom: 1px solid #F4F7FE;
  color: #1B2559;
  font-size: 2vh;
}

.main-footer-recent-div-address {
  flex-grow: 1;
}
.main-footer-recent-div-title {
  flex-grow: 4;
}
.main-footer-recent-div-up {
  flex-grow: 1;
}
